@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url(./images/music-background.jpg);
  background-position: top;
  background-size: cover;
  opacity: .80;
  overflow: auto;
}

.col-container {
  background: #000;
  opacity: .75;
}
